# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

623

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [ ]:
cities

In [3]:
#url for requests to retrieve data
url = "http://api.openweathermap.org/data/2.5/weather?q="

city_api_response_list = []
# counter = 0

#for loop to fill city api response list
for city in cities:
    query_url = url + city + "&appid=" + weather_api_key
    
    try :
        time.sleep(1)
        response = requests.get(query_url).json()
#         counter += 1
    

    
        city_api_response_list.append({
                                   "City": city, 
                                   "Lat": response["coord"]["lat"],
                                   "Lon": response["coord"]["lon"],
                                   "Max Temp": response["main"]["temp_max"],
                                   "Humidity": response["main"]["humidity"],
                                   "Cloudiness": response["clouds"]["all"],
                                   "Windspeed": response["wind"]["speed"],
                                   "Country": response["sys"]["country"],
                                   "Date": response["dt"]
                                  })
    
    
#         if counter == 3 :
#             break
       
    except KeyError :
        print(f"No data found: {city}")
    
       
        

# print(city_api_response_list)
# # print(response)

No data found: inderborskiy
No data found: sentyabrskiy
No data found: nizhneyansk
No data found: yanan
No data found: tsihombe
No data found: sorvag
No data found: taolanaro
No data found: quetzaltepec
No data found: belushya guba
No data found: grand river south east
No data found: barentsburg
No data found: mys shmidta
No data found: saleaula
No data found: dien bien
No data found: igarape-miri
No data found: tawnat
No data found: marcona
No data found: vaitupu
No data found: tidore
No data found: katsiveli
No data found: illoqqortoormiut
No data found: ngukurr
No data found: kebemer
No data found: skagastrond
No data found: samusu
No data found: umzimvubu
No data found: agva
No data found: tumannyy
No data found: chagda
No data found: malwan
No data found: kamenskoye
No data found: naftah
No data found: temaraia
No data found: yuzhno-yeniseyskiy
No data found: attawapiskat
No data found: samalaeulu
No data found: palabuhanratu
No data found: kesennuma
No data found: tarudant
No data found: louisbourg
No data found: kayfan
No data found: taburi
No data found: uzhur-4
No data found: labutta
No data found: rungata
No data found: kadykchan
No data found: wulanhaote
No data found: balykshi
No data found: dzhusaly
No data found: huajuapan
No data found: chastoozerye
No data found: warqla
No data found: subaytilah
No data found: tabiauea
No data found: dianopolis
No data found: mrirt
No data found: kusye-aleksandrovskiy
No data found: richard toll

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [4]:
weather_cities_df = pd.DataFrame(columns=['City', 'Lat', 'Lon', 'Max Temp', 'Humidity', 'Cloudiness', 'Windspeed',
                                "Country", "Date"])
weather_cities_df.head()

Empty DataFrame
Columns: [City, Lat, Lon, Max Temp, Humidity, Cloudiness, Windspeed, Country, Date]
Index: []

In [5]:
for dictionary in city_api_response_list :
    weather_cities_df = weather_cities_df.append(dictionary, ignore_index = True)
    
    
weather_cities_df.head()  

weather_cities_df.to_csv(output_data_file)

In [6]:
weather_cities_df.head()

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Windspeed,Country,Date
0,honningsvag,70.98,25.97,286.41,86,0,7.70,NO,1595644359
1,grand-lahou,5.14,-5.02,296.56,90,77,4.36,CI,1595644360
2,ende,-8.84,121.66,300.51,54,86,3.25,ID,1595644361
3,esperance,-33.87,121.90,283.15,87,78,10.30,AU,1595644362
4,hobart,-42.88,147.33,285.93,57,75,4.60,AU,1595644202

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [10]:
weather_cities_humidity_df = weather_cities_df[["City", "Humidity"]]
weather_cities_humidity_df.head()

          City Humidity
0  honningsvag       86
1  grand-lahou       90
2         ende       54
3    esperance       87
4       hobart       57

In [11]:

weather_cities_humidity_df.loc.index[weather_cities_humidity_df['Humidity'] > 100].tolist()

Empty DataFrame
Columns: [City, Humidity]
Index: []

In [ ]:
#  Get the indices of cities that have humidity over 100%.
df.index[df['BoolCol'] == True].tolist()

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

In [ ]:
# Extract relevant fields from the data frame


# Export the City_Data into a csv

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots

In [ ]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression